<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Sponsors:</strong>
  <%= event.sponsors.map(&:name).join(', ') %>
</p>

<table>
  <thead>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Name</th>
    <th>Location</th>
  </thead>
  <tbody>
    <% @event.meetings.all.each |m| %>
	  <tr>
	    <td><%= m.start_date %></td> 
	    <td><%= m.end_date %></td> 
	    <td><%= m.name %></td> 
	    <td><%= m.location %></td> 
  </tbody>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
