<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sponsor.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @sponsor.logo %>
</p>

<% content_for(:sidebar) do %>
	<h3>Sponsorships</h3>
	<% @events.each { |e| %>
		<% print e.name %>
		<% e.sponsors.each { |s| %>
			<% print s.name %>
		<% } %>
	<% } %>
<% end %>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
