<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sponsor.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @sponsor.logo %>
</p>

<% content_for(:sidebar) do %>
	<h3>Sponsorships</h3>
	<ul>
	<% @events.each { |e| %>
		<% e.sponsors.each { |s| %>
			<% if @sponsor.name == s.name %>
				<li>
					<% url = events_path+"/"+e.id.to_s+"/" %>
					<%= link_to(e.name, url) %>
				</li>
			<% end %>
		<% } %>
	<% } %>
	</ul>
<% end %>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
